<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <center> 
        <h1>Seleccione su Personaje</h1>
        <div id="direcciones">
            <a href="/hopper" target="_blank">hopper</a><br><br><br>
            <a href="/turing" target="_blank">Turing</a><br><br><br>
            <a href="/clarke" target="_blank">clarke</a><br><br><br>
            <a href="/berners-lee" target="_blank">berners-lee</a><br><br><br>
            <a href="/babbage" target="_blank">babbage</a><br><br><br>
            <a href="/hamilton" target="_blank">Hamilton</a><br><br><br>
            <a href="/lovelace" target="_blank">lovelace</a><br><br><br>
        </div>
    </center>
    <img src="img/personajes.jpg" id="fondo">
</body>
</html>